@import url('https://fonts.googleapis.com/css?family=Khula&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
body{
  background-color: rgb(3, 48, 248);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container{
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  background: rgb(255, 255, 255);
  margin: 60px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 40px 50px rgba(0,0,0,0,1);
}
.container .left_Side{
  position: relative;
  background: rgb(41, 41, 143);
  padding: 40px;
}
.container .right_Side{
  position: relative;
  background: rgb(223, 223, 240);
  padding: 40px;
}


