@import url('https://fonts.googleapis.com/css?family=Khula&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
body{
  background-color: rgb(194, 200, 229);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container{
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  background: rgb(255, 255, 255);
  margin: 60px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 40px 50px rgba(0,0,0,0,1);
}
.container .left_Side{
  position: relative;
  background: rgb(18, 18, 58);
  padding: 40px;
}

.profileText{
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
  border-bottom: 2px solid rgba(158, 138, 138, 0.3);
}

.profileText .imgBox {
  position: relative;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  overflow: hidden;
}

.profileText .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profileText h2{
  color: rgb(245, 107, 72);
  font-size: 1.3em;
  margin-top: 22px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  line-height: 1.1em;
  letter-spacing: 1.5px;
}
.profileText h2 span {
  font-size: 0.7em;
  font-weight: 200;
}

.container .right_Side{
  position: relative;
  background: rgb(223, 223, 240);
  padding: 40px;
}

.contactInfo{
  padding-top: 35px;
  
}

.title{
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  letter-spacing: 1.5px;
  margin-bottom: 25px;
}

.list {
  position: relative;
  color: rgb(255, 255, 255);
  list-style: none;
  font-weight: 400;
  padding-bottom: 25px;
  border-bottom: 2px solid rgba(158, 138, 138, 0.3);
  font-size: 18px;
  
}
.icon{
  position: relative;
  margin: 8px 0;
  cursor: pointer;
  color: rgb(83, 73, 230);
  display: inline-block;
  width: 25px;
  font-size: 15px;
}
div.Education {
  padding-top: 35px;
  padding-bottom: 25px;
  border-bottom: 2px solid rgba(158, 138, 138, 0.3);
  
}
h3#education {
  color: beige;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  letter-spacing: 1.5px;
  margin-bottom: 30px;
}
.educationInfo{
  color: rgb(255, 255, 255);
  font-weight: 200;
  line-height: 25px;
  font-size: 22px;
}
.textUnever{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  line-height: 30px;
}
h5.year{
  color:rgb(83, 73, 230);
  font-size: 15px;
  font-weight: 800;
  line-height: 30px;
}

.contactInfo.Languag .persent{
  position: relative;
  width: 100%;
  height: 6px;
  background: rgb(90, 40, 40);
  display: block;
  margin-top: 4px;
  margin-bottom: 20px;
}
.contactInfo.Languag .persent div{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: rgb(192, 167, 104);

}
.textPersent{
  color: rgb(192, 167, 104);
  line-height: 15px;
}

.aboutMe{
  margin-bottom: 20px;
}
.aboutMe:last-child{
  margin-bottom: 0;
  ;
}
.title_two{
  color: rgb(83, 73, 230);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 12px;
  font-size: 25px;
  font-weight: 800;
  padding-bottom: 1px;
  border-bottom: 4px solid  rgb(83, 73, 230);
}
.mainText{
  text-indent: 1.5em;
  color: rgb(53, 44, 21);
  font-weight: 650;
  font-size: 20px;
  line-height: 25px;
}
.skills .box {
  position: relative;
  display: grid;
  width: 100%;
  grid-template-columns: 150px 1fr;
  justify-content: center;
  align-items: center;
  line-height: 50px;
}
.skills .box h4 {
  text-transform: uppercase;
  color: rgb(192, 72, 16);
  font-weight: 800;
}
.skills .box .persent {
  position: relative;
  width: 100%;
  height: 10px;
  background: rgb(138, 128, 121);
}
.skills .box .persent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: rgb(67, 73, 8);
}